html,
body {
    height: 100%;
}

.table {
    width:99%;
}
.panel {
    font-size: 12px;
}

ul.nav.nav-tabs li a{
     background-color: #c4c4c4;
}

ul.nav.nav-tabs li.active a{
     background-color: #fff;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}


#imaginary_container{
    /*margin-top:20%; *//* Don't copy this */
}
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
    border-right:0; 
    box-shadow:0 0 0; 
    border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

/* add course*/
a.fix_add{
      position: fixed;
      right: 30px;
      bottom: 60px;
      width: 50px;
      height: 50px;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #DA4F4F;
      border-radius: 50%;
      box-shadow: 0 0 20px rgba(198,55,55, 0.9);
      transition: all .3s linear;
      -webkit-animation: toTop 1s linear infinite;
          animation: toTop 1s linear infinite;
    }
    a.fix_add:hover{
      box-shadow: none;
      background-color: #DF3131;
    }

    a.fix_add svg{
      font-size: 25px;
      color: #fff;
    }
 
    @-webkit-keyframes toTop {

      0% {
        bottom: 65px;
      }
      5%{
        bottom: 65px;
      }
      15% {
        bottom: 75px;
      }
      30% {
        bottom: 65px;
      }
      55% {
        bottom: 70px;
      }
      70% {
        bottom: 65px;
      }
      100% {
        bottom: 65px;
      }
    }
    @keyframes toTop {

      0% {
        bottom: 65px;
      }
      5%{
        bottom: 65px;
      }
      15% {
        bottom: 75px;
      }
      30% {
        bottom: 65px;
      }
      55% {
        bottom: 70px;
      }
      70% {
        bottom: 65px;
      }
      100% {
        bottom: 65px;
      }
    }
/* ---*/
/*container вопросов*/
.question-container{
  margin: 3% auto; 
  /*width: 700px;*/
}
/**/

/*container ссылки*/
.link-container{
  margin: 0% auto; 
  width: 700px;
}
/**/

/*container ссылки*/
.profile-container{
  margin: 0% auto; 
  width: 700px;
}
/**/