body{
  min-height: 100vh;
  padding-bottom: 0;
}
body, p{
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 12px;
  /*color: #333;*/
}
 
body h1, body h2, body h3, body h4, body h5, body h6, body a {
    padding: 0;  
    margin: 0;   
}

body a:active, body a:focus, body a:hover, button, input {
     text-decoration: none;
     outline: 0;
     /*color: #fa1c3b;*/
}
.panel{
  margin-bottom: 0;
}
.content {
    min-height: 250px;
    /* padding: 15px; */
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.content-header {
    position: relative;
    padding: 15px 15px 0 45px;
}
 
.content-header h1{
  font-size: 24px;
  margin-bottom: 15px;
}

.layout-top-nav .content-wrapper, .layout-top-nav .main-footer {
    margin-left: 0;
}

.content-header>.breadcrumb {
    float: right;
    background: transparent;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px; 
    padding: 7px 35px;
    position: absolute;
    top: 15px;
    right: 10px;
    border-radius: 2px; 
}

.breadcrumb {
    padding: 0px 40px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.content-wrapper {
    min-height: calc(100vh - 133px); 
    /*background-color: #f5f5f5;*/
    z-index: 800;
    padding-bottom: 20px;
}

.navbar-custom-menu>.navbar-nav>li>.dropdown-menu {
    position: absolute;
    right: 0;
    padding: 0;
    left: auto;
    top: 57px;
}

.navbar-nav>.user-menu>.dropdown-menu, .navbar-nav>.user-menu>.dropdown-menu>.user-body {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.navbar-nav>.user-menu>.dropdown-menu {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding: 1px 0 0 0;
    border-top-width: 0;
    width: 280px;
}

.main-footer {
    background: #fff;
    padding: 15px 20px;
    color: #444;
    border-top: 1px solid #d2d6de;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.dropdown-menu {
    box-shadow: none;
    border-color: #eee;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.user-header {
    height: 175px;
    padding: 10px;
    text-align: center;
    background-color: #031e58;
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header>img {
    z-index: 5;
    height: 90px;
    width: 90px;
    border: 3px solid;
    border-color: transparent;
    border-color: rgba(255,255,255,0.2);
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header>p {
    z-index: 5;
    color: #fff;
    color: rgba(255,255,255,0.8);
    font-size: 17px;
    margin-top: 10px;
}

.navbar-nav>.user-menu>.dropdown-menu>.user-footer {
    background-color: #f9f9f9;
    padding: 10px;
}

.navbar-nav>.user-menu>.dropdown-menu>.user-footer .btn-default {
    color: #666666;
}

.btn.btn-flat {
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-width: 1px;
}

.btn-default {
    background-color: #f4f4f4;
    color: #444;
    border-color: #ddd;
}

.btn {
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent;
}

.login-page, .register-page {
    background: #d2d6de;
}

.login-box, .register-box {
    width: 360px;
    margin: 7% auto;
}

.login-logo, .register-logo {
    font-size: 35px;
    text-align: center;
    margin-bottom: 25px;
    font-weight: 300;
}

.login-box-body, .register-box-body {
    background: #fff;
    padding: 20px;
    border-top: 0;
    color: #666;
    background: rgba(255, 255, 255, 0.2);
}

.login-logo a, .register-logo a {
    color: #444;
}

.login-box-msg, .register-box-msg {
    margin: 0;
    text-align: center;
    padding: 0 20px 20px 20px;
}

.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}
.title_print{
  position: absolute;
  top: 0;
  right: 10px;
  /*width: 220px;*/
}

.title_print a{
  padding-right: 30px;
  line-height: 2;
  display: block;
  font-size: 14px;
}